.element__delete-btn {
    background-image: url(../../../images/Delete\ Button.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    width: 18px;
    height: 19px;
    border: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 2;
}