.auth__link {
    cursor: pointer;
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    border: none;
    padding: 0;
    margin: 15px auto 0;
    color: #fff;
    text-decoration: none;
    text-align: center;
    align-self: center;
}

.auth__link:hover {
    opacity: .6;
}